.video {
  position: relative;
  padding-top: 120px;
  margin-bottom: 150px;
  text-align: center;
  background-image: linear-gradient(to top, transparent 98px, var(--bg-video) 98px);

  @media (max-width: 1023px) {
    background-image: linear-gradient(to top, transparent 85px, var(--bg-video) 85px);

    margin-bottom: 70px;
    padding-top: 70px;
  }

  @media (max-width: 767px) {
    background-image: linear-gradient(to top, transparent 49px, var(--bg-video) 49px);
    padding-top: 84px;
  }
}

.video h2 {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  color: var(--c-header);

  @media (max-width: 1023px) {
    font-size: 24px;
  }

  @media (max-width: 767px) {
    padding: 0;
  }
}

.video p {
  max-width: 340px;
  margin: 0 auto;
  font-weight: 300;
  line-height: 28px;
  color: var(--c-video-text);

  @media (max-width: 1023px) {
    max-width: 430px;
  }

  @media (max-width: 767px) {
    max-width: 288px;
    letter-spacing: -0.01em;
  }
}

.video__wrapper {
  width: 100%;
  max-width: 929px;
  margin: 56px auto 0;

  @media (max-width: 1023px) {
    max-width: 503px;
    margin-top: 40px;
  }

  @media (max-width: 767px) {
    max-width: 288px;
    margin-top: 54px;
  }
}

.video__player {
  position: relative;
  background-color: var(--bg-video);
}

.video__player img {
  @media (max-width: 1023px) {
    max-width: 503px;
    max-height: 282px;
  }

  @media (max-width: 767px) {
    max-width: 288px;
    max-height: 161px;
  }
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: var(--accent-color);
  transition: transform 0.2s, opacity 0.2s;

  &:hover,
  &:focus {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(1.2);
  }

  @media (max-width: 1023px) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: 767px) {
    width: 65px;
    height: 65px;
  }
}
