:root {
  // Common
  --font-main: "Open Sans", "Arial", sans-serif;
  --accent-color: hsla(174 91% 45% / 1);
  --c-text-primary: hsla(0 0% 0% / 1);

  // Header
  --c-nav-link: hsla(0 0% 100% / 0.7);
  --c-nav-link-mobile: hsla(228 3% 29% / 1);
  --c-nav-link-arrow: hsla(234 18% 21% / 0.5);
  --bg-nav-decor: hsla(0 0% 100% / 0.2);
  --bg-nav-mobile: hsla(0 0% 100% / 1);
  --bg-nav-link-mobile: hsla(0 0% 96% / 1);
  --bg-header: hsla(227 2% 8% / 1);
  --c-header: hsla(0 0% 100% / 1);
  --c-header-text: hsla(0 0% 100% / 0.8);
  --bd-header-input: hsla(224 12% 81% / 1);

  // Types
  --bg-types: hsla(205 20% 97% / 1);

  // Video

  --bg-video: hsla(227 2% 8% / 1);
  --c-video-text: hsla(0 0% 100% / 0.7);

  //Footer
  --c-footer-links: hsla(0 0% 0% / 0.5);
}
